@import url("https://use.typekit.net/yrm2sft.css");

* {
  font-family: futura-pt, sans-serif;
  color: white;
}

h1 {
  font-family: novecento-sans-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3em;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header img {
  height: 8em;
  width: auto;
}

.digital_clock_time {
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;
  margin-top: 5%;
}

#digital_clock_time {
  color: #c0a6f1;
  font-size: 7em;
}

#am_pm {
  font-size: 2em;
  color: white;
}

#clocks_date {
  align-items: center;
  text-align: center;
  font-size: 4em;
  color: white;
}

.mars {
  height: 15em;
  width: auto;
  position: fixed;
  z-index: 5;
  top: 0;
  left: 0;
  animation: floating 30s linear infinite;
  transform: translateX(100vw) translateY(100vh) rotateZ(90);
}

.timeButtonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.time_button {
  background-color: #c0a6f1;
  font-family: novecento-sans-wide, sans-serif;
  border-radius: 2em;
  border: none;
  color: white;
  padding: 1em 1em;
  font-size: 1.2em;
  margin-top: 5%;
}

.time_button:hover {
  background-color: #d16161;
}

@keyframes floating {
  0% {
    transform: translateX(3vw) translateY(-70vh) rotateZ(90deg);
  }

  10% {
    transform: translateX(30vw) translateY(70vh) rotateZ(-90deg);
  }

  20% {
    transform: translateX(20vw) translateY(-50vh) rotateZ(90deg);
  }

  30% {
    transform: translateX(-10vw) translateY(-80vh) rotateZ(90deg);
  }

  40% {
    transform: translateX(20vw) translateY(100vh) rotateZ(-90deg);
  }

  50% {
    transform: translateX(80vw) translateY(-80vh) rotateZ(90deg);
  }

  60% {
    transform: translateX(20vw) translateY(100vh) rotateZ(90deg);
  }

  70% {
    transform: translateX(5vw) translateY(-100vh) rotateZ(-90deg);
  }
  80% {
    transform: translateX(-100vw) translateY(100vh) rotateZ(90deg);
  }

  90% {
    transform: translateX(80vw) translateY(-10vh) rotateZ(-90deg);
  }

  100% {
    transform: translateX(-50vw) translateY(-70vh) rotateZ(90deg);
  }
}
